<body>
        <header>
              <div class="bg-191">
                <div class="container">	
                  <div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">
                  
                    <ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
                      <li><a class="pl-0 pl-sm-10" href="#">Adressa</a></li>
                      <li><a href="#">RBNett</a></li>
                      <li><a href="#">Smp</a></li>
                    </ul>
                    <ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
                      <li><a class="pl-0 pl-sm-10" href="#"><i class="ion-social-facebook"></i></a></li>
                      <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                      <li><a href="#"><i class="ion-social-google"></i></a></li>
                      <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                      <li><a href="#"><i class="ion-social-bitcoin"></i></a></li>
                    </ul>
                  </div><!-- top-menu -->
                </div><!-- container -->
              </div><!-- bg-191 -->
              <div class="container">
                  <a class="right-area src-btn" href="#" >
                    <i class="active src-icn ion-search"></i>
                    <i class="close-icn ion-close"></i>
                  </a>
                  <div class="src-form">
                    <form>
                      <input type="text" placeholder="Search here">
                      <button type="submit"><i class="ion-search"></i></a></button>
                    </form>
                  </div><!-- src-form -->
                  <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="ion-navicon"></i></a>
                  
                  <ul class="main-menu" id="main-menu">
                    <li><a href="02_archive-page.html">NEWS</a></li>
                    <li class="drop-down"><a href="03_single-post.html">GUIDES & ANALYTICS<i class="ion-arrow-down-b"></i></a>
                      <ul class="drop-down-menu drop-down-inner">
                        <li><a href="#">PAGE 1</a></li>
                        <li><a href="#">PAGE 2</a></li>
                      </ul>
                    </li>
                    <li><a href="04_FAQS.html">EVENTS</a></li>
                    <li><a href="05_FAQS-single.html">EXPLAINED</a></li>
                    <li><a href="06_contact-us.html">ICON CLAENDER</a></li>
                  </ul>
                  <div class="clearfix"></div>
                </div><!-- container -->
              </header>
              <div class="container">
                  <div class="card" style="width: 18rem;">
                      <img class="card-img-top" src="<%= item.image%>" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text"><%= item.title %></p>
                      </div>
                  </div>
              </div><!-- w-1-3 -->
          <!--<div class="col-md-4">
            <% if(news_adressa !== null){ %>
            <p> Total Adressa News:
              <%= news_adressa.length %>
            </p>
            <% if(news_adressa !== null){ %>
            <p>
              <% news_adressa.forEach( function(item){ %>
              <div id="newsItem">
                <li>
                  <%= item.title %>
                  published at
                  <%= item.date_published %>
                  pub_name at
                  <%= item._polaris_extra.pub_name %>
                  <img src=" <%= item.image%> " />
                </li>
              </div>
              <% }); %>
            </p>
            <% } %>
            <% } %>
          </div>-->
      
          <div class="col-md-4">
            <% if(news_smp !== null){ %>
            <p> Total Smp News:
              <%= news_smp.length %>
            </p>
            <% if(news_smp !== null){ %>
            <p>
              <% news_smp.forEach( function(item){ %>
              <div id="newsItem">
                <li>
                  <%= item.title %>
                  published at
                  <%= item.date_published %>
                  pub_name at
                  <%= item._polaris_extra.pub_name %>
                  <img src=" <%= item.image%> " />
                </li>
              </div>
              <% }); %>
            </p>
            <% } %>
            <% } %>
          </div>
      
          <div class="col-md-4">
          <% if(news_rbnett !== null){ %>
          <p> Total rbnett News:
            <%= news_rbnett.length %>
          </p>
          <% if(news_rbnett !== null){ %>
          <p>
            <% news_rbnett.forEach( function(item){ %>
            <div id="newsItem">
              <li>
                <%= item.title %>
                published at
                <%= item.date_published %>
                pub_name at
                <%= item._polaris_extra.pub_name %>
                <img src=" <%= item.image%> " />
              </li>
            </div>
            <% }); %>
          </p>
          <% } %>
          <% } %>
          <% if(error !== null){ %>
          <p>
            <%= error %>
          </p>
          <% } %>
        </div>
      </div>
      </body>