<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link href="lib/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" type="text/css" href="css/style.css">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
 crossorigin="anonymous">

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<p />
			<h4>List of News Section</h4>
			<p>Find the updates on Latest News in this area</p>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" name="title" id="exampleModalLabel">
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<img name="image" src="">
					<p name="content"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<div class="row mb-2">
				<% if(typeof error !=  "undefined" && error !== null){ %>
				<p class="warning"> Error on loading news...</p>
				<% } %>
			</div>
			<% if(typeof news !=  "undefined" && news !== null){ %>
			<% news.sort(function(a,b){
				return new Date(b.date_published) - new Date(a.date_published);
			  }).filter(function(item){
					if(filter_value == ""){return true}
					else{
						return item._polaris_extra.pub_name == filter_value
					}
					
			}).forEach( function(item){ %>
			<div class="row mb-2">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col-md-4">
									<img src="<%= item.image%>">
								</div>
								<div class="col-md-8">
									<div class="news-title">
										<a href="#">
											<h5>
												<%=item.title%>
											</h5>
										</a>
									</div>
									<div class="news-cats">
										<ul class="list-unstyled list-inline mb-1">
											<li class="list-inline-item">
												<i class="fa fa-folder-o text-danger"></i>
												<a href="#"><small>
														<%= item._polaris_extra.section %></small> </a>
											</li>
											<li class="list-inline-item">
												<i class="fa fa-folder-o text-danger"></i>
												<a href="#"><small>
														<%= item._polaris_extra.pub_name %></small> </a>
											</li>
											<li class="list-inline-item">
												<i class="fa fa-folder-o text-danger"></i>
												<a href="#"><small>
														<%= moment(item.date_published).fromNow() %></small></a>
											</li>
										</ul>
									</div>
									<div class="news-content">
										<p>
											<%=item.content_text%>
										</p>
									</div>
									<div class="news-buttons">
										<button type="button" class="readmore btn btn-outline-danger btn-sm" onclick="
											modal = $('#exampleModal');
											modal.find('[name=title]').text('<%= item.title %>');
											modal.find('[name=content]').text('<%= item.content_text %>');
											modal.find('[name=image]').attr('src', '<%= item.image %>');
											// open modal
											modal.modal('show');">
											Read More</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% }); %>
			<% } %>

			<div class="row mb-2">
				<div class="col-md-12">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">«</span>
									<span class="sr-only">Previous</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">»</span>
									<span class="sr-only">Next</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="row mb-2">
				<div class="col-md-12">
					<div class="card">
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<h5>Categories</h5>
									</div>
								</div>
							</div>
						</div>
						<form class="list-group" method="POST">
							<input type="submit" name="news" class="ghost_button list-group-item list-group-item-action" value="All">
							<input type="submit" name="news" class="ghost_button list-group-item list-group-item-action" value="Adressa">
							<input type="submit" name="news" class="ghost_button list-group-item list-group-item-action" value="Smp">
							<input type="submit" name="news" class="ghost_button list-group-item list-group-item-action" value="Rbnett">
						</form>
					</div>
				</div>
			</div>
		</div>

		<script>
			var id = document.getElementsByClassName("ghost_button");
			if (id.length > 0) {
				if ('<%= filter_value %>' == '' || '<%= filter_value %>' == 'all') {
					id[0].className += ' active';
				}
				if ('<%= filter_value %>' == 'adressa') {
					id[1].className += ' active';
				}
				if ('<%= filter_value %>' == 'smp') {
					id[2].className += ' active';
				}
				if ('<%= filter_value %>' == 'rbnett') {
					id[3].className += ' active';
				}
			}

			$('button.readmore').click(function (e) {
			});
		</script>

	</div>
</div>